<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MainStreet.BusinessFlow.Web.ResponseCache" type="MainStreet.BusinessFlow.SDK.Web.ResponseCache.ResponseCacheSectionHandler,MainStreet.BusinessFlow.SDK.Web" allowLocation="false" />
    <sectionGroup name="MainStreet.BusinessFlow.SDK" type="MainStreet.BusinessFlow.SDK.Web.SdkWebSectionGroup, MainStreet.BusinessFlow.SDK.Web">
      <section name="deployment" type="MainStreet.BusinessFlow.SDK.Config.DeploymentSection, MainStreet.BusinessFlow.SDK" />
      <section name="credentials" type="MainStreet.BusinessFlow.SDK.Config.CredentialsSection, MainStreet.BusinessFlow.SDK" />
      <section name="identity" type="MainStreet.BusinessFlow.SDK.Config.IdentitySection, MainStreet.BusinessFlow.SDK" />
      <section name="webServices" type="MainStreet.BusinessFlow.SDK.Config.WebServicesSection, MainStreet.BusinessFlow.SDK" />
      <section name="cart" type="MainStreet.BusinessFlow.SDK.Config.CartSection, MainStreet.BusinessFlow.SDK" />
      <section name="inventory" type="MainStreet.BusinessFlow.SDK.Web.Config.InventorySection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="pages" type="MainStreet.BusinessFlow.SDK.Web.Config.PagesSection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="ssl" type="MainStreet.BusinessFlow.SDK.Web.Config.SslSection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="urlRewrite" type="MainStreet.BusinessFlow.SDK.Web.UrlRewrite.Config.UrlRewriteSection, MainStreet.BusinessFlow.SDK.Web" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <MainStreet.BusinessFlow.SDK xmlns="urn:mainstreet-businessflow-sdk">
    <identity allowUnapprovedLogin="true" />
    <cart configSource="App_Config\Release\MainStreet\cart.config" />
    <credentials configSource="App_Config\Release\MainStreet\credentials.config" />
    <deployment configSource="App_Config\Release\MainStreet\deployment.config" />
    <inventory configSource="App_Config\Release\MainStreet\inventory.config" />
    <pages configSource="App_Config\Release\MainStreet\pages.config" />
    <webServices configSource="App_Config\Release\MainStreet\webservices.config" />
    <ssl configSource="App_Config\Release\MainStreet\ssl.config" />
  </MainStreet.BusinessFlow.SDK>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>